.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: o auto;
  padding: 40px 0 20px 100px;
  color: rgba(0, 0, 0, 0.599);
  background: linear-gradient(to right, #f9dcdcf7, #faf6f6f6, #f9dcdcf7);
}
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left-para {
  max-width: 300px;
}
.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
}
.middle-part1,
.middle-part2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0;
  gap: 20px;
}
.footer-middle li:hover {
  color: rgb(252, 53, 252);
  font-weight: 500;
  cursor: pointer;
}
.footer-right {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footer-right img {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-right img:hover {
  border: 1px solid rgba(19, 3, 3, 0.488);
  box-shadow: inset 7px 6px 10px rgba(60, 59, 54, 0.513);
}
@media screen and (max-width: 507px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-middle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    gap: 5px;
    margin-bottom: 10px;
    text-align: left;
  }
}
