.plants-lover {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  width: 100%;
  margin-bottom: 70px;
  align-items: center;
}
.plants-lover-img {
  flex: 1;
}
.plants-lover-img img {
  max-width: 100%;
}
.plants-lover-content {
  flex: 1;
}
.plants-lover-content-title {
  font-size: 55px;
  font-weight: 800;
  padding: 40px 5px 0 10px;
}
.plants-lover-content-title span {
  color: #e95a08;
}
.plants-lover-content-list {
  list-style: inside;
  padding: 0 20px 30px 20px;
}
.plants-lover-content-list li {
  color: rgba(0, 0, 0, 0.661);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
}
.badge {
  width: 200px;
}
.badge .star {
  width: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 400px;
  top: 140px;
  display: block;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}

@media screen and (max-width: 507px) {
  .plants-lover {
    flex-direction: column;
    margin-top: 100px;
  }
  /* .plants-lover-img {
    height: 600px;
  } */
  .badge .star {
    display: none;
  }
  .plants-lover-img img {
    max-width: 100%;
  }
  .plants-lover-content-list li {
    font-size: 25px;
  }
}
