.plants-lover {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-bottom: 70px;
}
.plants-lover-img {
  flex: 1;
}
.plants-lover-content {
  flex: 1;
}
.plants-lover-content-title {
  font-size: 55px;
  font-weight: 800;
  padding: 20px 5px 0 10px;
}
.plants-lover-content-title span {
  color: #e95a08;
}
.plants-lover-content-list {
  list-style: inside;
  padding: 0 20px 30px 20px;
}
.plants-lover-content-list li {
  color: rgba(0, 0, 0, 0.661);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}
.badge {
  width: 200px;
}
.badge .star {
  width: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 420px;
  top: 100px;
  display: block;
}

@media screen and (max-width: 507px) {
  .plants-lover {
    flex-direction: column;
    margin-top: 100px;
  }
  /* .plants-lover-img {
    height: 600px;
  } */
  .badge .star {
    display: none;
  }
}
